@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0 18px 18px 0;
    position: fixed;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
    padding: 20px;
}

.container {
    margin-left: 0px;
    padding: 20px;
    flex: 1;
}

.list-section {
    margin-top: 60px;
    text-align: center;
}

.table-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse; 
    border: 2px solid #000;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000; 
    text-align: center;
}

table th:last-child, table td:last-child {
    border-right: none; 
}

table th {
    background-color: #4f46e5;
    color: white;
}


.acoes {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}
