* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
    flex-direction: row;
}

main {
    flex-grow: 1; 
    padding: 20px;
    overflow-y: auto; 
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.graficos-topo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.obra-section {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 32%;
    position: relative;
}

canvas {
    width: 100%;
    height: 300px;
}

#ultimos-gastos, #total-gastos {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#gastos-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#gastos-tabela th, 
#gastos-tabela td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#gastos-tabela th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: left;
}

#gastos-tabela th:nth-child(1),
#gastos-tabela td:nth-child(1) {
    width: 35%; 
}

#gastos-tabela th:nth-child(2),
#gastos-tabela td:nth-child(2) {
    width: 15%; 
    text-align: right; 
}

#gastos-tabela th:nth-child(3),
#gastos-tabela td:nth-child(3) {
    width: 20%; 
    text-align: center;
}

#gastos-tabela th:nth-child(4),
#gastos-tabela td:nth-child(4) {
    width: 30%; 
}



#total-gastos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#total-valor {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.chart-total {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 24px;
    color: #000;
}

.titulo-gastos {
    text-align: center;
    margin-bottom: 20px;
}

.detalhes-btn {
    background-color: #4f46e5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}



.detalhes-btn:active {
    background-color: #FF6384;
}

.detalhes-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
