* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #e3e9f7;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
    width: 100%;
    max-width: 800px;
    padding: 10px;
}

.title-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 50px;
    max-width: 900px;
    padding: 30px;
    margin-top: 10px;
}

.title-box h1 {
    font-size: 28px;
    color: #4f46e5;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 50px;
}

.container:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

#login-container {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #4f46e5;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3b3f8f;
}

.toggle-container {
    margin-top: 20px;
}

.toggle-container p {
    font-size: 14px;
    color: #777;
}

.logo {
    max-width: 150px;
    height: auto;
}
